[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rphylopars"]
	path = Rphylopars
	url = https://github.com/ericgoolsby/rphylopars
